# Importing packages

In [200]:
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as pyp

# Importing the dataset

In [389]:
loan_train_data=pd.read_excel('C://Users//Bachelor_001//OneDrive//Desktop//PD//loan-train 2.xlsx')
loan_train_data
pd.set_option('display.max_row',None)

# DATACLEANING

mode() >when object/categorical variable

In [205]:
loan_train_data.info()
loan_train_data.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
536,LP002734,Male,Yes,0,Graduate,No,6133,3906.0,324.0,360.0,1.0,Urban,Y
381,LP002229,Male,No,0,Graduate,No,5941,4232.0,296.0,360.0,1.0,Semiurban,Y
251,LP001836,Female,No,2,Graduate,No,3427,0.0,138.0,360.0,1.0,Urban,N
188,LP001644,NaN,Yes,0,Graduate,Yes,674,5296.0,168.0,360.0,1.0,Rural,Y
148,LP001519,Female,No,0,Graduate,No,10000,1666.0,225.0,360.0,1.0,Rural,N
279,LP001908,Female,Yes,0,Not Graduate,No,4100,0.0,124.0,360.0,NaN,Rural,Y
339,LP002114,Female,No,0,Graduate,No,4160,0.0,71.0,360.0,1.0,Semiurban,Y
390,LP002255,Male,No,3+,Graduate,No,9167,0.0,185.0,360.0,1.0,Rural,Y
106,LP001369,Male,Yes,2,Graduate,No,11417,1126.0,225.0,360.0,1.0,Urban,Y
44,LP001136,Male,Yes,0,Not Graduate,Yes,4695,0.0,96.0,NaN,1.0,Urban,Y

# investigating loan id

In [207]:
loan_train_data['Loan_ID'].info()
loan_train_data['Loan_ID'].unique()
loan_train_data['Loan_ID'].isna().sum()

<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Loan_ID
Non-Null Count  Dtype
--------------  -----
614 non-null    object
dtypes: object(1)
memory usage: 4.9+ KB

0

# investigating gender

In [244]:
loan_train_data['Gender'].info()
loan_train_data['Gender'].unique()
loan_train_data['Gender'].isna().sum()
loan_train_data['Gender']=loan_train_data['Gender'].astype('category')
loan_train_data['Gender'].info()
loan_train_data[loan_train_data['Gender'].isna()]
loan_train_data['Gender'].isna().sum()
loan_train_data['Gender'].info()
loan_train_data['Gender'] = loan_train_data['Gender'].fillna(loan_train_data['Gender'].mode()[0])
loan_train_data['Gender'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Gender
Non-Null Count  Dtype
--------------  -----
601 non-null    category
dtypes: category(1)
memory usage: 870.0 bytes
<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Gender
Non-Null Count  Dtype
--------------  -----
601 non-null    category
dtypes: category(1)
memory usage: 870.0 bytes
<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Gender
Non-Null Count  Dtype
--------------  -----
601 non-null    category
dtypes: category(1)
memory usage: 870.0 bytes
<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Gender
Non-Null Count  Dtype
--------------  -----
614 non-null    category
dtypes: category(1)
memory usage: 870.0 bytes

## investigating Married

In [236]:
loan_train_data['Married'].info()
loan_train_data['Married'].isna().sum()
loan_train_data['Married'].sample(10)
loan_train_data['Married']=loan_train_data['Married'].astype('category')
loan_train_data['Married'].info()
loan_train_data['Married'].unique()
loan_train_data['Married']=loan_train_data['Married'].fillna(loan_train_data['Married'].mode()[0])

loan_train_data[loan_train_data['Married'].isna()]

<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Married
Non-Null Count  Dtype
--------------  -----
614 non-null    category
dtypes: category(1)
memory usage: 870.0 bytes
<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Married
Non-Null Count  Dtype
--------------  -----
614 non-null    category
dtypes: category(1)
memory usage: 870.0 bytes

Empty DataFrame
Columns: [Loan_ID, Gender, Married, Dependents, Education, Self_Employed, ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term, Credit_History, Property_Area, Loan_Status]
Index: []

## investigating Dependents

In [240]:
loan_train_data['Dependents'].info()
loan_train_data['Dependents'].unique()
loan_train_data['Dependents']=loan_train_data['Dependents'].astype('category')
loan_train_data['Dependents'].info()
loan_train_data['Dependents']=loan_train_data['Dependents'].replace('3+',3)
loan_train_data['Dependents'].unique()
loan_train_data[loan_train_data['Dependents'].isna()]
loan_train_data['Dependents']=loan_train_data['Dependents'].fillna(loan_train_data['Dependents'].mode()[0])
loan_train_data['Dependents'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Dependents
Non-Null Count  Dtype
--------------  -----
599 non-null    category
dtypes: category(1)
memory usage: 950.0 bytes
<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Dependents
Non-Null Count  Dtype
--------------  -----
599 non-null    category
dtypes: category(1)
memory usage: 950.0 bytes
<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Dependents
Non-Null Count  Dtype
--------------  -----
614 non-null    category
dtypes: category(1)
memory usage: 950.0 bytes

In [246]:
loan_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    category
 2   Married            614 non-null    category
 3   Dependents         614 non-null    category
 4   Education          614 non-null    category
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: category(4), float64(4), int64(1), object(4)
memory usage: 46.3+ KB

# investigating Education

In [215]:
loan_train_data['Education'].info()
loan_train_data['Education'].unique()
loan_train_data['Education']=loan_train_data['Education'].astype('category')
loan_train_data['Education'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Education
Non-Null Count  Dtype
--------------  -----
614 non-null    object
dtypes: object(1)
memory usage: 4.9+ KB
<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Education
Non-Null Count  Dtype
--------------  -----
614 non-null    category
dtypes: category(1)
memory usage: 870.0 bytes

# investigating Self_Employed

In [258]:
loan_train_data['Self_Employed'].info()
loan_train_data['Self_Employed'].unique()
loan_train_data['Self_Employed']=loan_train_data['Self_Employed'].astype('category')
loan_train_data['Self_Employed']=loan_train_data['Self_Employed'].fillna(loan_train_data['Self_Employed'].mode()[0])
loan_train_data['Self_Employed'].info()
loan_train_data['Self_Employed'].unique()

<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Self_Employed
Non-Null Count  Dtype
--------------  -----
614 non-null    category
dtypes: category(1)
memory usage: 870.0 bytes
<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Self_Employed
Non-Null Count  Dtype
--------------  -----
614 non-null    category
dtypes: category(1)
memory usage: 870.0 bytes

['No', 'Yes']
Categories (2, object): ['No', 'Yes']

In [254]:
loan_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    category
 2   Married            614 non-null    category
 3   Dependents         614 non-null    category
 4   Education          614 non-null    category
 5   Self_Employed      614 non-null    category
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: category(5), float64(4), int64(1), object(3)
memory usage: 42.2+ KB

## Investigating ApplicantIncome

In [271]:
loan_train_data['ApplicantIncome'].info()
loan_train_data['ApplicantIncome'].sample(5)
loan_train_data['ApplicantIncome'].unique()\

<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: ApplicantIncome
Non-Null Count  Dtype
--------------  -----
614 non-null    int64
dtypes: int64(1)
memory usage: 4.9 KB

105    3052
413    2253
583    1880
49     4000
463    5191
Name: ApplicantIncome, dtype: int64

## investigating CoapplicantIncome

In [301]:
loan_train_data['CoapplicantIncome'].info()
loan_train_data['CoapplicantIncome'].unique()
loan_train_data['CoapplicantIncome'].sample(10)
loan_train_data['CoapplicantIncome']=loan_train_data['CoapplicantIncome'].astype('int')
loan_train_data['CoapplicantIncome'].info()
loan_train_data['CoapplicantIncome'].sample(10)
loan_train_data['CoapplicantIncome'].unique()
loan_train_data['CoapplicantIncome'].isna().sum()

<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: CoapplicantIncome
Non-Null Count  Dtype
--------------  -----
614 non-null    int32
dtypes: int32(1)
memory usage: 2.5 KB
<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: CoapplicantIncome
Non-Null Count  Dtype
--------------  -----
614 non-null    int32
dtypes: int32(1)
memory usage: 2.5 KB

0

## Investigating loan amount

In [323]:
loan_train_data['LoanAmount'].info()
loan_train_data['LoanAmount'].isna().sum()
loan_train_data[loan_train_data['LoanAmount'].isna()]
loan_train_data['LoanAmount']=loan_train_data['LoanAmount'].fillna(loan_train_data['LoanAmount'].median())
loan_train_data['LoanAmount'].isna().sum()
loan_train_data['LoanAmount'].unique()
loan_train_data['LoanAmount'].info()
loan_train_data.sample(10)

<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: LoanAmount
Non-Null Count  Dtype
--------------  -----
614 non-null    float64
dtypes: float64(1)
memory usage: 4.9 KB
<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: LoanAmount
Non-Null Count  Dtype
--------------  -----
614 non-null    float64
dtypes: float64(1)
memory usage: 4.9 KB

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
491,LP002562,Male,Yes,1,Not Graduate,No,5333,1131,186.0,360.0,NaN,Urban,Y
35,LP001106,Male,Yes,0,Graduate,No,2275,2067,128.0,360.0,1.0,Urban,Y
530,LP002717,Male,Yes,0,Graduate,No,1025,5500,216.0,360.0,NaN,Rural,Y
45,LP001137,Female,No,0,Graduate,No,3410,0,88.0,NaN,1.0,Urban,Y
518,LP002683,Male,No,0,Graduate,No,4683,1915,185.0,360.0,1.0,Semiurban,N
300,LP001964,Male,Yes,0,Not Graduate,No,1800,2934,93.0,360.0,0.0,Urban,N
347,LP002131,Male,Yes,2,Not Graduate,No,3083,2168,126.0,360.0,1.0,Urban,Y
178,LP001616,Male,Yes,1,Graduate,No,3750,0,116.0,360.0,1.0,Semiurban,Y
107,LP001370,Male,No,0,Not Graduate,No,7333,0,120.0,360.0,1.0,Rural,N
116,LP001404,Female,Yes,0,Graduate,No,3167,2283,154.0,360.0,1.0,Semiurban,Y

## investigating Loan_Amount_Term

In [336]:
loan_train_data['Loan_Amount_Term'].info()
loan_train_data['Loan_Amount_Term'].unique
loan_train_data.sample(10)
loan_train_data['Loan_Amount_Term']=loan_train_data['Loan_Amount_Term'].fillna(loan_train_data['Loan_Amount_Term'].median())
loan_train_data['Loan_Amount_Term'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Loan_Amount_Term
Non-Null Count  Dtype
--------------  -----
614 non-null    float64
dtypes: float64(1)
memory usage: 4.9 KB
<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Loan_Amount_Term
Non-Null Count  Dtype
--------------  -----
614 non-null    float64
dtypes: float64(1)
memory usage: 4.9 KB

In [338]:
loan_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    category
 2   Married            614 non-null    category
 3   Dependents         614 non-null    category
 4   Education          614 non-null    category
 5   Self_Employed      614 non-null    category
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    int32
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: category(5), float64(3), int32(1), int64(1), object(3)
memory usage: 39.8+ KB

## Investigating Credit_History

In [353]:
loan_train_data['Credit_History'].info()
loan_train_data['Credit_History'].sample(10)
loan_train_data['Credit_History']=loan_train_data['Credit_History'].astype('category')
loan_train_data['Credit_History'].info()
loan_train_data['Credit_History']=loan_train_data['Credit_History'].fillna(loan_train_data['Credit_History'].mode()[0])
loan_train_data['Credit_History'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Credit_History
Non-Null Count  Dtype
--------------  -----
614 non-null    category
dtypes: category(1)
memory usage: 870.0 bytes
<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Credit_History
Non-Null Count  Dtype
--------------  -----
614 non-null    category
dtypes: category(1)
memory usage: 870.0 bytes
<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Credit_History
Non-Null Count  Dtype
--------------  -----
614 non-null    category
dtypes: category(1)
memory usage: 870.0 bytes

In [355]:
loan_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    category
 2   Married            614 non-null    category
 3   Dependents         614 non-null    category
 4   Education          614 non-null    category
 5   Self_Employed      614 non-null    category
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    int32
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    category
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: category(6), float64(2), int32(1), int64(1), object(3)
memory usage: 35.7+ KB

## Investigating Property_Area

In [370]:
loan_train_data['Property_Area'].info()
loan_train_data.sample(100)
loan_train_data['Property_Area'].unique()
loan_train_data['Property_Area']=loan_train_data['Property_Area'].astype('category')
loan_train_data['Property_Area'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Property_Area
Non-Null Count  Dtype
--------------  -----
614 non-null    category
dtypes: category(1)
memory usage: 878.0 bytes
<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Property_Area
Non-Null Count  Dtype
--------------  -----
614 non-null    category
dtypes: category(1)
memory usage: 878.0 bytes

## Investigating Loan_Status

In [383]:
loan_train_data['Loan_Status'].info()
loan_train_data['Loan_Status'].unique()
loan_train_data.sample(10)
loan_train_data['Loan_Status']=loan_train_data['Loan_Status'].astype('category')
loan_train_data['Loan_Status'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Loan_Status
Non-Null Count  Dtype
--------------  -----
614 non-null    category
dtypes: category(1)
memory usage: 870.0 bytes
<class 'pandas.core.series.Series'>
RangeIndex: 614 entries, 0 to 613
Series name: Loan_Status
Non-Null Count  Dtype
--------------  -----
614 non-null    category
dtypes: category(1)
memory usage: 870.0 bytes

In [385]:
loan_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    category
 2   Married            614 non-null    category
 3   Dependents         614 non-null    category
 4   Education          614 non-null    category
 5   Self_Employed      614 non-null    category
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    int32
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    category
 11  Property_Area      614 non-null    category
 12  Loan_Status        614 non-null    category
dtypes: category(8), float64(2), int32(1), int64(1), object(1)
memory usage: 27.6+ KB

In [387]:
loan_train_data.sample(100)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
157,LP001543,Male,Yes,1,Graduate,No,9538,0,187.0,360.0,1.0,Urban,Y
192,LP001657,Male,Yes,0,Not Graduate,No,6033,0,160.0,360.0,1.0,Urban,N
34,LP001100,Male,No,3,Graduate,No,12500,3000,320.0,360.0,1.0,Rural,N
336,LP002110,Male,Yes,1,Graduate,No,5250,688,160.0,360.0,1.0,Rural,Y
326,LP002068,Male,No,0,Graduate,No,4917,0,130.0,360.0,0.0,Rural,Y
567,LP002837,Male,Yes,3,Graduate,No,3400,2500,123.0,360.0,0.0,Rural,N
306,LP001993,Female,No,0,Graduate,No,3762,1666,135.0,360.0,1.0,Rural,Y
154,LP001535,Male,No,0,Graduate,No,3254,0,50.0,360.0,1.0,Urban,Y
170,LP001581,Male,Yes,0,Not Graduate,No,1820,1769,95.0,360.0,1.0,Rural,Y
213,LP001715,Male,Yes,3,Not Graduate,Yes,5703,0,130.0,360.0,1.0,Rural,Y
485,LP002544,Male,Yes,1,Not Graduate,No,1958,2436,131.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0,192.0,360.0,1.0,Urban,Y
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66.0,360.0,1.0,Urban,Y
14,LP001030,Male,Yes,2,Graduate,No,1299,1086,17.0,120.0,1.0,Urban,Y
177,LP001610,Male,Yes,3,Graduate,No,5516,11300,495.0,360.0,0.0,Semiurban,N
194,LP001664,Male,No,0,Graduate,No,4191,0,120.0,360.0,1.0,Rural,Y
574,LP002863,Male,Yes,3,Graduate,No,6406,0,150.0,360.0,1.0,Semiurban,N
255,LP001846,Female,No,3,Graduate,No,3083,0,255.0,360.0,1.0,Rural,Y
360,LP002161,Female,No,1,Graduate,No,4723,0,81.0,360.0,1.0,Semiurban,N
539,LP002740,Male,Yes,3,Graduate,No,6417,0,157.0,180.0,1.0,Rural,Y
507,LP002625,Male,No,0,Graduate,No,3583,0,96.0,360.0,1.0,Urban,N
314,LP002024,Male,Yes,0,Graduate,No,2473,1843,159.0,360.0,1.0,Rural,N
504,LP002619,Male,Yes,0,Not Graduate,No,3814,1483,124.0,300.0,1.0,Semiurban,Y
377,LP002223,Male,Yes,0,Graduate,No,4310,0,130.0,360.0,1.0,Semiurban,Y
523,LP002693,Male,Yes,2,Graduate,Yes,7948,7166,480.0,360.0,1.0,Rural,Y
158,LP001546,Male,No,0,Graduate,No,2980,2083,120.0,360.0,1.0,Rural,Y
582,LP002894,Female,Yes,0,Graduate,No,3166,0,36.0,360.0,1.0,Semiurban,Y
557,LP002795,Male,Yes,3,Graduate,Yes,10139,0,260.0,360.0,1.0,Semiurban,Y
189,LP001647,Male,Yes,0,Graduate,No,9328,0,188.0,180.0,1.0,Rural,Y
193,LP001658,Male,No,0,Graduate,No,3858,0,76.0,360.0,1.0,Semiurban,Y
400,LP002288,Male,Yes,2,Not Graduate,No,2889,0,45.0,180.0,0.0,Urban,N
243,LP001807,Male,Yes,2,Graduate,Yes,6250,1300,108.0,360.0,1.0,Rural,Y
101,LP001349,Male,No,0,Graduate,No,4843,3806,151.0,360.0,1.0,Semiurban,Y
408,LP002315,Male,Yes,1,Graduate,No,8300,0,152.0,300.0,0.0,Semiurban,N
560,LP002807,Male,Yes,2,Not Graduate,No,3675,242,108.0,360.0,1.0,Semiurban,Y
179,LP001630,Male,No,0,Not Graduate,No,2333,1451,102.0,480.0,0.0,Urban,N
345,LP002129,Male,Yes,0,Graduate,No,2499,2458,160.0,360.0,1.0,Semiurban,Y
415,LP002337,Female,No,0,Graduate,No,2995,0,60.0,360.0,1.0,Urban,Y
242,LP001806,Male,No,0,Graduate,No,2965,5701,155.0,60.0,1.0,Urban,Y
42,LP001123,Male,Yes,0,Graduate,No,2400,0,75.0,360.0,1.0,Urban,Y
384,LP002236,Male,Yes,2,Graduate,No,4566,0,100.0,360.0,1.0,Urban,N
545,LP002767,Male,Yes,0,Graduate,No,2768,1950,155.0,360.0,1.0,Rural,Y
92,LP001319,Male,Yes,2,Not Graduate,No,3273,1820,81.0,360.0,1.0,Urban,Y
237,LP001788,Female,No,0,Graduate,Yes,3463,0,122.0,360.0,1.0,Urban,Y
395,LP002272,Male,Yes,2,Graduate,No,3276,484,135.0,360.0,1.0,Semiurban,Y
223,LP001749,Male,Yes,0,Graduate,No,7578,1010,175.0,360.0,1.0,Semiurban,Y
204,LP001691,Male,Yes,2,Not Graduate,No,3917,0,124.0,360.0,1.0,Semiurban,Y
601,LP002950,Male,Yes,0,Not Graduate,No,2894,2792,155.0,360.0,1.0,Rural,Y
544,LP002757,Female,Yes,0,Not Graduate,No,3017,663,102.0,360.0,1.0,Semiurban,Y
159,LP001552,Male,Yes,0,Graduate,No,4583,5625,255.0,360.0,1.0,Semiurban,Y
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0,180.0,360.0,1.0,Rural,Y
74,LP001253,Male,Yes,3,Graduate,Yes,5266,1774,187.0,360.0,1.0,Semiurban,Y
65,LP001225,Male,Yes,0,Graduate,No,5726,4595,258.0,360.0,1.0,Semiurban,N
446,LP002434,Male,Yes,2,Not Graduate,No,4652,0,110.0,360.0,1.0,Rural,Y
516,LP002670,Female,Yes,2,Graduate,No,2031,1632,113.0,480.0,1.0,Semiurban,Y
176,LP001608,Male,Yes,2,Graduate,No,2045,1619,101.0,360.0,1.0,Rural,Y
138,LP001492,Male,No,0,Graduate,No,14999,0,242.0,360.0,0.0,Semiurban,N
499,LP002602,Male,No,0,Graduate,No,6283,4416,209.0,360.0,0.0,Rural,N
201,LP001677,Male,No,2,Graduate,No,4923,0,166.0,360.0,0.0,Semiurban,Y
380,LP002226,Male,Yes,0,Graduate,No,3333,2500,128.0,360.0,1.0,Semiurban,Y
420,LP002348,Male,Yes,0,Graduate,No,5829,0,138.0,360.0,1.0,Rural,Y
488,LP002555,Male,Yes,2,Graduate,Yes,4583,2083,160.0,360.0,1.0,Semiurban,Y
606,LP002961,Male,Yes,1,Graduate,No,3400,2500,173.0,360.0,1.0,Semiurban,Y
372,LP002201,Male,Yes,2,Graduate,Yes,9323,7873,380.0,300.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240,253.0,360.0,1.0,Urban,Y
592,LP002933,Male,No,3,Graduate,Yes,9357,0,292.0,360.0,1.0,Semiurban,Y
83,LP001273,Male,Yes,0,Graduate,No,6000,2250,265.0,360.0,1.0,Semiurban,N
356,LP002149,Male,Yes,2,Graduate,No,8333,3167,165.0,360.0,1.0,Rural,Y
93,LP001322,Male,No,0,Graduate,No,4133,0,122.0,360.0,1.0,Semiurban,Y
316,LP002035,Male,Yes,2,Graduate,No,3717,0,120.0,360.0,1.0,Semiurban,Y
383,LP002234,Male,No,0,Graduate,Yes,7167,0,128.0,360.0,1.0,Urban,Y
295,LP001949,Male,Yes,3,Graduate,No,4416,1250,110.0,360.0,1.0,Urban,Y
214,LP001716,Male,Yes,0,Graduate,No,3173,3021,137.0,360.0,1.0,Urban,Y
63,LP001213,Male,Yes,1,Graduate,No,4945,0,128.0,360.0,0.0,Rural,N
444,LP002424,Male,Yes,0,Graduate,No,7333,8333,175.0,300.0,1.0,Rural,Y
466,LP002500,Male,Yes,3,Not Graduate,No,2947,1664,70.0,180.0,0.0,Urban,N
95,LP001326,Male,No,0,Graduate,No,6782,0,128.0,360.0,1.0,Urban,N
578,LP002877,Male,Yes,1,Graduate,No,1782,2232,107.0,360.0,1.0,Rural,Y
29,LP001087,Female,No,2,Graduate,No,3750,2083,120.0,360.0,1.0,Semiurban,Y
163,LP001570,Male,Yes,2,Graduate,No,4167,1447,158.0,360.0,1.0,Rural,Y
490,LP002560,Male,No,0,Not Graduate,No,2699,2785,96.0,360.0,1.0,Semiurban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0,76.0,360.0,0.0,Urban,N
125,LP001443,Female,No,0,Graduate,No,3692,0,93.0,360.0,1.0,Rural,Y
80,LP001265,Female,No,0,Graduate,No,3846,0,111.0,360.0,1.0,Semiurban,Y
111,LP001387,Female,Yes,0,Graduate,No,2929,2333,139.0,360.0,1.0,Semiurban,Y
272,LP001892,Male,No,0,Graduate,No,2833,1857,126.0,360.0,1.0,Rural,Y
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000,187.0,360.0,1.0,Rural,N
526,LP002705,Male,Yes,0,Graduate,No,3775,0,110.0,360.0,1.0,Semiurban,Y
51,LP001157,Female,No,0,Graduate,No,3086,0,120.0,360.0,1.0,Semiurban,Y
256,LP001849,Male,No,0,Not Graduate,No,6045,0,115.0,360.0,0.0,Rural,N
226,LP001754,Male,Yes,0,Not Graduate,Yes,4735,0,138.0,360.0,1.0,Urban,N
57,LP001197,Male,Yes,0,Graduate,No,3366,2200,135.0,360.0,1.0,Rural,N
48,LP001146,Female,Yes,0,Graduate,No,2645,3440,120.0,360.0,0.0,Urban,N
378,LP002224,Male,No,0,Graduate,No,3069,0,71.0,480.0,1.0,Urban,N
56,LP001195,Male,Yes,0,Graduate,No,2132,1591,96.0,360.0,1.0,Semiurban,Y
212,LP001713,Male,Yes,1,Graduate,Yes,7787,0,240.0,360.0,1.0,Urban,Y
426,LP002367,Female,No,1,Not Graduate,No,4606,0,81.0,360.0,1.0,Rural,N
185,LP001640,Male,Yes,0,Graduate,Yes,39147,4750,120.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411,157.0,360.0,1.0,Rural,Y
456,LP002459,Male,Yes,0,Graduate,No,4301,0,118.0,360.0,1.0,Urban,Y